@font-face{
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal
}
@font-face{
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Blof.otf');
    font-weight: bold;
    font-style: normal
}
@font-face{
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Light.otf');
    font-weight: lighter;
    font-style: normal
}
@font-face{
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Italic.otf');
    font-weight: normal;
    font-style: italic
}